/*-----Global-----*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	font-family: proxima nova; sans-serif;
}
body {
	width: 100%;
	background-image: url(images/BG_01.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
h1 {
	color: white;
	font-size: 48px;
}
p {
	color: white;
	font-size: 16px;
}
ul {
	list-style: none;
	margin-top: 30px;
}
li {
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
}
/*-----nav-----*/
nav {
	height: 100px;
	line-height: 100px;
}
nav a {
	color: white;
	text-decoration: none;
}
nav a img {
	vertical-align: middle;
}
nav a img:nth-child(2) {
	float: right;
}

/*-----header-----*/
header {
	margin: 100px 0 200px 0;
	text-align: center;
}
header p {
	width: 45%;
	margin: 30px auto 0 auto;
}
header a {
	color: #FF4A5E;
	text-decoration: none;
}
/*-----work-----*/
.work {
	text-align: center;
	width: 100%;
}
.work a img {
	margin: 1%;
	width: 45%;
}

/*-----whatIDO-----*/
.whatIDo {
	text-align: center;
	margin: 100px 0 200px 0;
	position: relative;
}
.whatIDo h1 {
	color: #FF4A5E;
	text-decoration: none;
}
.iAm {
	color: #25272C;
	font-size: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: -20px;
	z-index: -1;
}

/*-----work2-----*/
.work2 {
	width: 100%;
	text-align: center;
}
.work2 a img {
	margin: 1%;
	width: 92%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 20%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*-----footer-----*/
footer {
	position: fixed;
   	bottom: 0;
	width: 100%;
	text-align: center;
 	line-height: 1.5;
	background-color: red;
}
footer p {
	color: white;
}

/*-----Responsive-----*/
@media only screen and (max-width: 991px) {
	header p {
		width: 100%;
	}
	.work a img {
		margin: 2%;
		width: 96%;
	}
	.work2 a img {
		margin: 2%;
		width: 96%;
	}
}
@media only screen and {max-width: 768px) {
	header {
		width: 96%;
		margin: 30px auto 100px auto;
		text-align: left;
	}
	.whatIDo {
		text-align: left;
		width: 96%;
		margin: 70px auto 100px auto;
	}
	.iAm {
		visibility: hidden;
	}
	footer {
		text-align: left;
		width:90%;
		margin: 60px auto;
	}
}


	